body {
   background: hsl(230, 17%, 14%);
   color: white;
   font-family: 'Inter', sans-serif;
}

p {
    margin: 0px;
}

.opacity {
    opacity: 50%;
}

.total-followers {
    font-size: 12px;
}

.header {
    grid-column: span 4;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
}


.follower-section {
    display: flex;
    gap: 20px;
    
}

.follower-section > div {
    background: hsl(228, 28%, 20%);
    min-height: 120px;
    min-width: 150px;
    justify-content: center;
    align-items: center;
}

.icon-username {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.today-views {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.today-views > div {
    background: hsl(228, 28%, 20%);
    min-width: 150px;
    min-height: 80px;
    justify-content: center;
    align-items: center;

}

.fb {
    border-top: hsl(208, 92%, 53%) solid 2px;
}

.twitter {
    border-top: hsl(203, 89%, 53%) solid 2px;
}

.ig {
    border-top: hsl(329, 70%, 58%) solid 2px;

}

.yt {
    border-top: hsl(348, 97%, 39%) solid 2px;
}

.big-number {
    
    font-weight: 600;
    font-size: 36px;
    margin: 10px;
    margin-bottom: 0px;
}

.icon-username {
    
    min-height: 25px;
    gap: 12px;
    font-size: 8px;

}

.follow-count {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon {
    width: 10px;
    height: 10px;    
}


.views-likes {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    margin: 10px;
}

.number-change {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 10px;
    
}

.weight-700 {
    font-size: 26px;
    font-weight: 700;
}

.up,
.down {
    font-size: 8px;
    margin: 12px;
}

.up {
 color: hsl(163, 72%, 41%);
}

.down {
    color: hsl(356, 69%, 56%);
}

.foll-subs {
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@media (max-width: 500px) {
    .follower-section,
    .today-views {
flex-direction: column;
    }
}
